.Select-control,
.Select-menu-outer {
    background-color: #000000 !important;
    color: #FFFFFF !important;
}

.Select-value-label,
.Select-option {
    color: #FFFFFF !important;
}
.custom-slider {
    width: 75%;
    margin: auto;
    color: white;
}
.rc-slider-mark-text {
    color: white;
}
